{% extends "layout.html" %}

{% block title %}
    Cambiar Contraseña
{% endblock %}

{% block main %}
    <div class="row justify-content-center mt-5">
        <div class="col-11 col-md-6 col-lg-4">
            <div class="card bg-light border-secondary border-2 shadow-sm rounded-3">
                <div class="card-body p-4 text-center">
                
                    <h3 class="card-title mb-4 fw-bold text-secondary">Cambiar Contraseña</h3>

                    <form action="/cambiar_clave" method="post">
                        <div class="mb-3 text-start">
                            <label for="current_password" class="form-label fw-semibold">Digite su contraseña actual</label>
                            <input autocomplete="off" autofocus class="form-control border-secondary" name="current_password" placeholder="Escriba su contraseña actual" type="password" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="new_password" class="form-label fw-semibold">Digite su nueva contraseña</label>
                            <input class="form-control border-secondary" name="new_password" placeholder="Escriba su nueva contraseña" type="password" required>
                        </div>
                        <div class="mb-4 text-start">
                            <label for="new_password" class="form-label fw-semibold">Confirme su nueva contraseña</label>
                            <input class="form-control border-secondary" name="confirmation_password" placeholder="Confirme su nueva contraseña" type="password" required>
                        </div>
                        <button class="btn btn-primary w-100 fw-semibold" type="submit">Cambiar Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}